// Color definitions
$links: #9d4c47;
$light: #dddddd;
$dark: #000000;
$red: #ff0000;
$green: #00aa00;

// Page structure
* { box-sizing: border-box; }
body {
    background-color: $light;
    color: $dark;
    font-size: 13pt;
}
nav#main-menu {
    float: left;
    width: 240px;
    padding: 1em;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
div#main-content {
    margin-left: 240px;
    padding: 1em;
}

// Tables
table {
    border-collapse: collapse;
    th, td {
        border: 1px solid;
        padding: 0.5em 1em;
    }
}

// Forms
label {
    display: block;
    font-weight: bold;
    &.multiple-choice {
        display: inline;
        font-weight: normal;
    }
}
.form-field-wrapper { margin: 0.5em 1em; }
.form-option-wrapper {
    display: inline-block;
    margin: 0.5em;
}
.form-error {
    color: $red;
    font-style: italic;
}

// Flash feedback
.flash-feedback {
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    text-align: center;
    width: 960px;
}
.flash-confirmation {
    @extend .flash-feedback;
    background-color: #88ff88;
    border: 1px solid #004400;
    color: #004400;
}
.flash-info {
    @extend .flash-feedback;
    background-color: #ffff88;
    border: 1px solid #444400;
    color: #444400;
}
.flash-error {
    @extend .flash-feedback;
    background-color: #ff8888;
    border: 1px solid #440000;
    color: #440000;
}
